		
html, body
{
height: 100%;
padding: 0;
margin: 0;
 
font-family:  Arial, Helvetica,Arial, sans-serif;

	text-align:center;
	margin: 0 auto;
	font-size:16px;
	text-shadow: #eee 1px 1px 0;
	line-height:1.4;
}
::-webkit-input-placeholder  { color:#bbbbbb; }
input:-moz-placeholder { color:#bbbbbb; }
::-moz-selection
{
background:#fcec7f;
color:#111;
}
 
::selection 
{
background:#fcec7f;
color:#111;}
.breefont{
	font-family: 'Bree Serif', serif;
}
#hlavni
{
height: auto;
min-height: 100%;
_height: 100%; /* IE */
margin: 0 auto;
text-align:center;
}
#top
{
	width:100%;
	background-color:rgba(255,255,255,0.5);
	height:120px;
	vertical-align:middle;	
}
#top img
{ 
	vertical-align:middle;
	padding:35px !important;		
}
 #modra-lista{ background: url('./images/modra-lista.png');
 background-repeat:repeat-x;
 
 height:264px;
 width:100%;
 text-align:center
 }
  #modra-lista a{ 
  	width:180px;
	background-color:#4994e2;
	color:#FFF;
	text-align:center;
	font-weight:600;
	 
	border: 1px solid  #3a76b4;
	display:block;
	text-shadow: none;
	text-align:center;
	padding:15px; 
  -webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius:5px;
	text-decoration:none;
	margin: 0 auto;	
  
 }
  #modra-lista a:hover{
	  	background-color:#377abf;
	border: 1px solid  #2d5a8a;
	
	text-shadow: none;
  
 }
#obsah{
	margin: 0px auto;
	background-color:rgba(255,255,255,0.85);
	border:-moz-box-shadow:inset 0 0 5px #fff;
   -webkit-box-shadow:inset 0 0 5px #fff;
   box-shadow:inset 0 0 5px #fff;
   	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
 
	width:100%;
 
	text-align:center;
	 
  }

	h1{
		 
		text-align:center;
		font-size:48px;
		margin:0px;
		padding:0px;
		padding-top:30px;
		color:#0f1f2f;

	 }
	 h2{
 		font-size:36px;
		margin:0px;
		padding:0px; 
		margin-top:35px;	 
		text-align:left;
		text-align:center;
	 }
	 li {
		 text-align:left;
		 line-height:1.3; padding-top:4px}
	 .cleared{
		 clear:both;}
		 
		 
		 .paticka{
		 clear:both;
		 width:100%;
		 height:50px;
		color:#4b6e9b;
			font-weight:bold;
			text-align:center !important;;}
		 
		 .paticka a {
		  }
		 
		  .paticka a:hover {
 
		  }
		 
		p{text-align:justify;
			
		 }
		.modra{
			color:#4b6e9b;
			font-weight:bold;
			text-align:center !important;
			
			  }
			  .inspirace{
				  padding:5px;
				  margin:0px;
			
			  }
			td{
				vertical-align:top;} 
			input{
				width:340px;
				padding:15px; 
			 text-align:center;
			 -webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border: 1px solid #ced7e5;
	text-align:left;
	font-size:16px;
	} 
 
	 input:focus   {
			  font-weight:300;
 border-color:#777 !important;
-webkit-box-shadow: inset 0 1px 1px 
rgba(0, 0, 0, 0.075),0 0 8px 
rgba(82, 168, 236, 0.6) !important;
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
box-shadow: inset 0 1px 1px 
rgba(0, 0, 0, 0.075),0 0 8px 
rgba(82, 168, 236, 1) !important;
outline: 0 !important; 
-webkit-transition: border linear 0.3s,box-shadow linear 0.3s;
-moz-transition: border linear 0.3s,box-shadow linear 0.3s;
-ms-transition: border linear 0.3s,box-shadow linear 0.3s;
-o-transition: border linear 0.3s,box-shadow linear 0.3s;
transition: border linear 0.3s,box-shadow linear 0.3s;

}
 
input[type="submit"]{
	width:180px;
	background-color:#4994e2;
	color:#FFF;
	text-align:center;
	font-weight:600;
	margin-left:10px;
	border: 1px solid  #3a76b4;
	
 
				
			}
			input[type="submit"]:hover{
 
	background-color:#377abf;
	border: 1px solid  #2d5a8a;
	cursor:pointer;
 
 
				
			} 
		.line{
			padding:20px;}	
			table p{
				color:#0f1e31;
				margin:0px !important;
				padding:0px !important;
				width:230px;
				text-align:left;
				position: relative ;
		 
				top:-25px !important;
				left:10px;
				vertical-align:text-top;
				
				}	
	.video{
		max-width:335px!important;
	 
		display:inline !important;
		clear: left;
		float:left;
	 }	
	 .video_info{
		 cursor:help;}
	 .video img{
	   	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	border: solid 1px #999;
	 }	
 table{ text-align:center;
 margin:0 auto;
 margin-top:20px;}
 td{
	 padding:8px !important;
	 vertical-align:text-top;}
 .hide_loader{
	 display:none;}
 .mitra{
	 background: url('./images/mitra.png') no-repeat;
	 width:300px;
	 height:171px;
	  	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	border: solid 1px #999;}	
	 .mitra:hover{
	 background: url('./images/mitrahover.png') no-repeat;}	
	 
 .stefl{
	 background: url('./images/stefl.png') no-repeat;
	 width:300px;
	 height:171px;
	  	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	border: solid 1px #999;}	
	 .stefl:hover{
	 background: url('./images/steflhover.png') no-repeat;}	
	  .ken{
	 background: url('./images/ken.png') no-repeat;
	 width:300px;
	 height:171px;
	  	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	border: solid 1px #999;}	
	 .ken:hover{
	 background: url('./images/kenhover.png') no-repeat;}	
	  
	 /* verze pro mobily */
@media screen and (max-device-width: 480px) {
	.iphone {
		background: #ccc;
	}
}