/* Miniatury */
.thumbdiv {
	float:left; 
	position:relative;
}
.thumbdiv .title {
	position:absolute;
	padding:2px;
	font-size:1.0em;
	color:#fff;
	background:#000;
	border-top:solid 1px #000;
	opacity:0.8;
	bottom:14px;
	left:8px;
	right:9px;
}
/* VIEWBOX */
#viewbox {
	position:fixed;
	height:100%;
	width:100%;   
	top:0;
	left:0;
	background:#383739;
	z-index:2190; 
	overflow:auto;
} 
.vb_wrap {
	position:absolute; 
	padding:10px;
	height:20px;
	width:20px; 
	background-image:url(img/ViewBox_bg.png);
	background-color:#0f0e0e;
	overflow:visible; 
	z-index:2200;
	margin:0 auto;
	top:0; 
	left:0;
	border-radius:10px;
	box-shadow: 4px 4px 7px #000;
} 
.vb_wrap .content {
 	position:relative;
	overflow:visible;
	font-size:11px;
	color:#004000;
}
.vb_wrap .number {
	position:absolute;
	top:-32px;
	left:1px;
	font-size:0.9em;
	color:#0c0c0c;
} 
.vb_wrap .close {
	position:absolute; 
	top:-40px;
	right:-7px;
	background:url(img/viewbox_close.png) top left no-repeat;
	height:30px;
	width:30px;
}
* html .vb_wrap .close {
	top:-26px;
	right:7px;
}
.vb_wrap .next {
	position:absolute;   
	right:-60px;
	background:url(img/ViewBox_next.png) top left no-repeat;
	height:50px;
	width:50px;
	z-index:2190;
}
.vb_wrap .prev {
	position:absolute;   
	left:-59px;
	background:url(img/ViewBox_prev.png) top right no-repeat;
	height:50px;
	width:50px;
	z-index:2190;
}
.vb_wrap .close a, .next a, .prev a {
	display:block;
	height:100%;
	width:100%;
	text-indent:-777em;
	outline:none;
}
.vb_wrap .preloader {
	position:absolute;
	background:url(img/load.gif) center no-repeat;
	height:100%;
	width:100%;
	z-index:2255;
}
.vb_wrap h1 {
	margin:5px 0px 8px;
	padding-bottom:3px;
	letter-spacing:1.3px; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;
	color:#cdcdcd;
	border-bottom:solid 1px #7e7e7e;
	text-shadow: none !important;
	
}
.vb_wrap p { 
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.8em;
	text-align:justify;
	color:#e5e5e5;
	text-shadow: none !important;
}
.vb_wrap .text {
	position:absolute;
	background: url(img/ViewBox_bg.png) top left repeat;
	border-top:solid 1px #121212;
	bottom:0; left:0;
	padding:5px;
	width:99%; 
	z-index:2110;
	text-shadow: none !important;
}
.vb_wrap .text {
	background-image:none;
	background-color:#0f0e0e;
	text-shadow: none !important;
}
.vb_wrap .image {
	z-index:2220;
}
.vb_wrap .text h1 {
	margin:2px; 
	padding:1px;
	color:#acacac;
	z-index:2230;
}
.vb_wrap .text .description {
	position:relative;
	bottom:0px; 
	left:0px;
	padding:2px 2px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;
	z-index:2260;
	color:#c1c1c1; 
	text-shadow: none !important;
}
