/*-----------------------------------------------------------------------------------

	Theme Name: MetroStyle
	Theme URI: http://www.olevmedia.com
	Description: All Purpose Theme
	Author: OlevMedia
	Author URI: http://www.olevmedia.com
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
	Version: 1.3.5
	
	All files, unless otherwise stated, are released under the GNU General Public License
	version 3.0 (http://www.gnu.org/licenses/gpl-3.0.html)

-----------------------------------------------------------------------------------*/

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
	-webkit-text-size-adjust: none;
}

body
{
	margin:0;
	padding:0;
	font:12px/16px 'Arial';
}

.bg-overlay
{
	padding:1px 0;
	background-attachment:fixed;
	background-repeat:repeat;
}

*
{
	outline:none;
}

img
{
	border:0;
}

.clear
{
	clear:both;
	height:0;
	overflow:hidden;
}

/************************
 * Text
 ************************/

a
{
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

p
{
	margin:16px 0;
}

h1,h2,h3,h4,h5,h6
{
	margin:32px 0 16px 0;
	line-height:140%;
	font-weight:bold;
}

.one-half h1:first-child, .one-half h2:first-child, .one-half h3:first-child, .one-half h4:first-child, .one-half h5:first-child, .one-half h6:first-child,
.one-third h1:first-child, .one-third h2:first-child, .one-third h3:first-child, .one-third h4:first-child, .one-third h5:first-child, .one-third h6:first-child,
.two-third h1:first-child, .two-third h2:first-child, .two-third h3:first-child, .two-third h4:first-child, .two-third h5:first-child, .two-third h6:first-child,
.one-fourth h1:first-child, .one-fourth h2:first-child, .one-fourth h3:first-child, .one-fourth h4:first-child, .one-fourth h5:first-child, .one-fourth h6:first-child,
.three-fourth h1:first-child, .three-fourth h2:first-child, .three-fourth h3:first-child, .three-fourth h4:first-child, .three-fourth h5:first-child, .three-fourth h6:first-child,
.one-fifth h1:first-child, .one-fifth h2:first-child, .one-fifth h3:first-child, .one-fifth h4:first-child, .one-fifth h5:first-child, .one-fifth h6:first-child,
.two-fifth h1:first-child, .two-fifth h2:first-child, .two-fifth h3:first-child, .two-fifth h4:first-child, .two-fifth h5:first-child, .two-fifth h6:first-child,
.three-fifth h1:first-child, .three-fifth h2:first-child, .three-fifth h3:first-child, .three-fifth h4:first-child, .three-fifth h5:first-child, .three-fifth h6:first-child,
.four-fifth h1:first-child, .four-fifth h2:first-child, .four-fifth h3:first-child, .four-fifth h4:first-child, .four-fifth h5:first-child, .four-fifth h6:first-child,
.one-sixth h1:first-child, .one-sixth h2:first-child, .one-sixth h3:first-child, .one-sixth h4:first-child, .one-sixth h5:first-child, .one-sixth h6:first-child,
.five-sixth h1:first-child, .five-sixth h2:first-child, .five-sixth h3:first-child, .five-sixth h4:first-child, .five-sixth h5:first-child, .five-sixth h6:first-child
{
	margin-top:0;
}

h1
{
	font-size:196%;
}

h2
{
	font-size:165%;
}

h3
{
	font-size:150%;
}

h4
{
	font-size:135%;
}

h5
{
	font-size:120%;
}

h6
{
	font-size:100%;
}

cite
{
	font-style:normal;
}

/************************
 * Responsive Images & Videos
 ************************/
 
img {
	max-width:100%;
	height:auto;
}

.video-embed,
.video-embed-ni {
	height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.video-embed iframe,  
.video-embed object,  
.video-embed embed,
.video-embed video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100% !important;
	width: 100% !important;
}

.video-embed-ni iframe,  
.video-embed-ni object,  
.video-embed-ni embed,
.video-embed-ni video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

/*********************************************************************
 ** Columns
 *********************************************************************/

.one-half,
.one-third,
.two-third,
.one-fourth,
.three-fourth,
.one-fifth,
.two-fifth,
.three-fifth,
.four-fifth,
.one-sixth,
.five-sixth {
  float: left;
  margin: 0 4% 0 0;
}
.one-half.last,
.one-third.last,
.two-third.last,
.one-fourth.last,
.three-fourth.last,
.one-fifth.last,
.two-fifth.last,
.three-fifth.last,
.four-fifth.last,
.one-sixth.last,
.five-sixth.last {
  margin-right: 0;
}
.one-half {
  width: 48%;
}
.one-third {
  width: 30.66%;
}
.two-third {
  width: 65.33%;
}
.one-fourth {
  width: 22%;
}
.three-fourth {
  width: 74%;
}
.one-fifth {
  width: 16.8%;
}
.two-fifth {
  width: 37.6%;
}
.three-fifth {
  width: 58.4%;
}
.four-fifth {
  width: 79.2%;
}
.one-sixth {
  width: 13.33%;
}
.five-sixth {
  width: 82.66%;
}

/************************
 * Overall Markup
 ************************/

.container
{
	width:972px;
	margin:0 auto;
}

.block-1,
.block-2,
.block-3,
.block-4,
.block-5,
.block-6,
.block-7
{
	margin:6px;
	float:left;
	position:relative;
}

.block-1.no-mar,
.block-2.no-mar,
.block-3.no-mar,
.block-4.no-mar,
.block-5.no-mar,
.block-6.no-mar,
.block-7.no-mar,
.block-full.no-mar,
.block-1.zero-mar,
.block-2.zero-mar,
.block-3.zero-mar,
.block-4.zero-mar,
.block-5.zero-mar,
.block-6.zero-mar,
.block-7.zero-mar,
.block-full.zero-mar
{
	margin:0;
}

.block-1
{
	width:96px;
}

/* 110% zoom fix */
@media only screen and (min-width: 980px) and (max-width: 1259px)
{
	.webkit .block-1
	{
		width:95.99px;
	}
}

.block-1.no-mar
{
	width:108px;
}

.block-2
{
	width:204px;
}

.block-2.no-mar
{
	width:216px;
}

.block-3
{
	width:312px;
}

.block-3.no-mar
{
	width:324px;
}

.block-4
{
	width:420px;
}

.block-4.no-mar
{
	width:432px;
}

.block-5
{
	width:528px;
}

.block-5.no-mar
{
	width:540px;
}

.block-6
{
	width:636px;
}

.block-6.no-mar
{
	width:648px;
}

.block-7
{
	width:744px;
}

.block-7.no-mar
{
	width:756px;
}

.block-8
{
	width:852px;
}

.block-8.no-mar
{
	width:864px;
}

.block-full
{
	margin:6px;
}

.block-h-half
{
	height:42px;
}

.block-h-1
{
	height:96px;
	
}

.block-h-1.no-mar
{
	height:108px;
	
}

.block-h-2
{
	height:204px;
}

.block-h-2.no-mar
{
	height:216px;
}

.block-h-3
{
	height:312px;
}

.block-h-3.no-mar
{
	height:324px;
}

.block-inner
{
	padding:10px;
	position:relative;
}

.blocks-same-height-uber-wrapper
{
	overflow:hidden;
}

.blocks-same-height-wrapper
{
	margin:6px -6px;
	padding:6px 0;
}

.blocks-same-height
{
	display:table;
	width:100%;
	table-layout:fixed;
	border-collapse:separate;
	border-spacing:12px;
	margin:-18px 0;
}

.blocks-same-height > .block-1,
.blocks-same-height > .block-2,
.blocks-same-height > .block-3,
.blocks-same-height > .block-4,
.blocks-same-height > .block-5,
.blocks-same-height > .block-6,
.blocks-same-height > .block-7,
.blocks-same-height > .block-8,
.blocks-same-height > .block-full
{
	display:table-cell;
	float:none;
	vertical-align:top;
}

.eat-margins
{
	margin:-10px;
}

.eat-outer-margins
{
	margin:0 -6px;
}

.eat-margins img
{
	display:block;
}

.tbl-bottom
{
	display:table;
	border-collapse:collapse;
	margin:0;
	width:100%;
}

.tbl-bottom .tbl-td
{
	display:table-cell;
	vertical-align:bottom;
	padding:0;
}

.move-left
{
	position:relative;
	left:-10px;	
}

.move-right
{
	position:relative;
	left:10px;	
}

.eat-left
{
	margin-left:-10px;	
}

.eat-right
{
	margin-right:-10px;	
}

.fs-s,
.fs-xs
{
	font-size:90%;
}

.dn
{
	display:none;
}

.bg-color-menu,
.bg-color-slider,
.bg-color-main,
.bg-color-sidebar,
.bg-color-footer,
.primary-menu li.block-1
{
	-webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.07);
	-moz-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.07);
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.07);
}

/************************
 * Headline
 ************************/

.headline
{
	padding-top:6px;
}
 
.headline-text
{
	line-height:16px;
	font-size:12px;
}

.headline-text a
{
	color:inherit;
	text-decoration:underline;
}

.headline-social
{
	float:right;
	text-align:right;
}

/************************
 * Logo
 ************************/

.logo-pane-inner
{
	position:absolute;
	bottom:10px;
	left:10px;
	right:10px;
}

.logo-text
{
	line-height:30px;
	font-size:30px;
	font-weight:bold;
	/*text-shadow:0 1px 0 rgba(255,255,255,0.8);*/
}

.logo-text a
{
	color:inherit;
	text-decoration:none;
}

.logo-image
{
	height:100%;
}

.logo-image img
{
	width:auto;
	height:auto;
	max-width:100%;
	max-height:76px;
	display:block;
}

.logo-pane.logo-pane-no-bg
{
	background:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
 
}

.logo-pane.logo-pane-no-bg .logo-pane-inner
{
	top:0;
	right:0;
	left:0;
	bottom:0;
}

.logo-pane.logo-pane-no-bg .logo-image img
{
	max-height:100%;
}

/************************
 * Menu
 ************************/

.primary-menu
{
	list-style:none;
	padding:0;
	margin:0;
	float:left;
}

.primary-menu li
{
	position:relative;
	cursor:default;
}

.primary-menu li a
{
	display:block;
	height:100%;
	position:relative;
	font-weight:bold;
	line-height:110%;
	text-decoration:none;
	
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
}

.primary-menu li a:hover,
.primary-menu li.active a
{
	color:#fff;
}

.primary-menu li a span
{
	position:absolute;
	bottom:10px;
	left:10px;
	right:10px;
}

.primary-menu li ul
{
	display:none;
	list-style:none;
	position:absolute;
	top:100%;
	left:0;
	z-index:500;
	padding:0;
	margin:0;
	
	-webkit-box-shadow:0px 3px 10px -1px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 3px 10px -1px rgba(0,0,0,0.4);
	box-shadow:0px 3px 10px -1px rgba(0,0,0,0.4);
}

.primary-menu > li > ul
{
	min-width:100%;
	margin:12px 0 0 0;
}

.primary-menu > li > ul:before
{
	content:'';
	display:block;
	position:absolute;
	top:-12px;
	left:0;
	right:0;
	height:12px;
}

.primary-menu > li > ul:after
{
	content:'';
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:96px;
	height:2px;
}

.primary-menu li ul li
{
	background:none;
	white-space:nowrap;
	float:none;
}

.primary-menu li ul a
{
	display:block;
	margin:0;
	line-height:300%;
	padding:0 70px 0 18px;
	color:#fff;
	font-weight:bold;
	
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
	
	border-bottom:1px solid transparent;
}

.primary-menu li ul li:last-child a
{
	border-bottom:0;
}

.primary-menu li ul a span
{
	position:static;
}

.primary-menu li ul a:hover,
.primary-menu li ul li.active > a
{
	/*background-color:rgba(255,255,255,0.2);*/
}

.primary-menu li ul ul
{
	left:100%;
	top:0;
	border-left:1px solid #000;
	border-left-color:rgba(0,0,0,0.1);
	margin:0;
}

.primary-menu.show-dropdown-symbol > li.menu-parent-item > a span:after
{
	content:' \f107';
	font-family: 'FontAwesome';
}

.primary-menu-select
{
	display:none;
	margin:12px 0;
	padding:12px;
}

.primary-menu-select select
{
	width:100%;
}
/************************
 * Big Slider
 ************************/
 
.big-slider-wrapper
{
	overflow:hidden;
}

.big-slider
{
	margin:-6px;
}

.big-slider-inner
{
	width:999999px;
}

.big-slider-uber-inner
{
	float:left;
}

.big-slider-slide
{
	display:block;
	text-align:center;
	text-decoration:none;
	color:inherit;
	position:relative;
}

.big-slider-slide:hover
{
	text-decoration:none;
}

.big-slider-slide .after
{
	display:none;
}

.no-touch .big-slider-slide .after
{
	content:'';
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	color:#fff;
	border:6px solid rgba(255,255,255,0);
	
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
}

.no-touch .big-slider-slide:hover .after
{
	border-color:rgba(255,255,255,0.3);
}

.big-slider-slide .pic
{
	display:block;
	overflow:hidden;
	position:relative;
	text-align:center;
	margin:0 auto   !important;
	
}

.big-slider-slide .pic img
{
	display:block;
	max-height:100%;
	
	-webkit-transition:-webkit-transform 1.4s;
	-moz-transition:-moz-transform 1.4s;
	transition:transform 1.4s;
	text-align:center;
	margin:auto auto   !important;
	vertical-align:middle !important;
}

.big-slider-slide .pic-after
{
	display:none;
}

/*
.mozilla.no-touch .big-slider-slide .pic-after
{
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#000;
	opacity:0;
	
}

.mozilla.no-touch .big-slider-slide:hover .pic-after
{
  -moz-animation-duration: 2s;
  -moz-animation-name: fadeInOut;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 0.6s;
  
  animation-duration: 2s;
  animation-name: fadeInOut;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
}

@-moz-keyframes fadeInOut {
  from { opacity:0; }
  50% { opacity:0.35; }
  to { opacity:0; }
}
@keyframes fadeInOut {
  from { opacity:0; }
  50% { opacity:0.35; }
  to { opacity:0; }
}
*/

.big-slider-slide .pic .video
{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	text-align:center;
	margin:0 auto   !important;
}

.big-slider-slide .pic .video iframe,  
.big-slider-slide .pic .video object,  
.big-slider-slide .pic .video embed {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.big-slider-slide.video-slide .pic
{
	z-index:1;
}

.no-touch .big-slider-slide:hover .pic img,
.msie10 .big-slider-slide:hover .pic img
{
	-webkit-transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}

.mozilla.no-touch .big-slider-slide:hover .pic img
{
	-webkit-transform:scale(1.2,1.2) rotate(0.1deg);
	-moz-transform:scale(1.2,1.2) rotate(0.1deg);
	transform:scale(1.2,1.2) rotate(0.1deg);
}

.big-slider-slide .text-wrapper
{
	display:table;
	width:100%;
}

.big-slider-slide .text
{
	display:block;
	display:table-cell;
	width:100%;
	padding:0 12px;
	vertical-align:middle;
	overflow:hidden;
}

.no-touch .big-slider-slide .text
{
	-webkit-transition:background 0.3s, color 0.3s;
	-moz-transition:background 0.3s, color 0.3s;
	transition:background 0.3s, color 0.3s;	
}

.big-slider-slide .text .text-inner
{
	display:block;
	position:relative;
}

.big-slider-slide .text .title
{
	display:block;
	padding:6px 0;
	font-size:18px;
	line-height:100%;
	font-weight:bold;
}

.no-touch .big-slider-slide .text .title
{
	-webkit-transition:color 0.3s;
	-moz-transition:color 0.3s;
	transition:color 0.3s;	
}

.no-touch .big-slider-slide:hover .text,
.no-touch .big-slider-slide:hover .text .title
{
	color:#fff;
}

.big-slider-slide .text .text-text
{
	display:block;
	position:relative;
}

/* Control */

.big-slider-control .control-left,
.big-slider-control .control-right
{
	float:left;
	width:8%;
	height:100%;
	cursor:pointer;
	
	-webkit-transition:background-color 0.3s;
	-moz-transition:background-color 0.3s;
	transition:background-color 0.3s;
}

.big-slider-control .control-right
{
	float:right;
}

.big-slider-control .control-left
{
	background:url(img/slider-controls.png) no-repeat 12px 6px;
}

.big-slider-control .control-left:hover
{
	background-position:12px -144px;
}

.big-slider-control .control-right
{
	background:url(img/slider-controls.png) no-repeat -120px 6px;
}

.big-slider-control .control-right:hover
{
	background-position:-120px -144px;
}

.big-slider-control .control-seek
{
	float:left;
	width:82%;
	height:100%;
	margin:0 1%;
	
	background:url(img/w1.png) repeat-x left 19px;
}

.touch .big-slider-control .control-seek
{
	display:none;
}

.big-slider-control .control-seek-box
{
	margin:6px 0;
	height:31px;
	width:34px;
	/*background-color:rgba(0,0,0,0.05);*/
	background:url(img/seek-box.png) repeat-x left -4px;
	position:relative;
	left:0;
	
	cursor:pointer;
}

.big-slider-control .control-seek-box-inner
{
	height:100%;

	-webkit-transition:background-color 0.3s;
	-moz-transition:background-color 0.3s;
	transition:background-color 0.3s;
}

.big-slider-control .control-seek:hover .control-seek-box
{
	/*background-image:none;*/
}


.big-slider-control .control-seek:hover .control-seek-box.pressed,
.big-slider-control .control-seek-box.pressed
{
	/*background-image:none;*/
}

/************************
 * Homepage
 ************************/

.homepage-blocks > .block-full > .block-inner,
.homepage-blocks > .blocks-same-height-wrapper > .blocks-same-height > .block-1 > .block-inner,
.homepage-blocks > .blocks-same-height-wrapper > .blocks-same-height > .block-2 > .block-inner,
.homepage-blocks > .blocks-same-height-wrapper > .blocks-same-height > .block-3 > .block-inner,
.homepage-blocks > .blocks-same-height-wrapper > .blocks-same-height > .block-4 > .block-inner,
.homepage-blocks > .blocks-same-height-wrapper > .blocks-same-height > .block-5 > .block-inner,
.homepage-blocks > .blocks-same-height-wrapper > .blocks-same-height > .block-6 > .block-inner,
.homepage-blocks > .blocks-same-height-wrapper > .blocks-same-height > .block-7 > .block-inner,
.homepage-blocks > .blocks-same-height-wrapper > .blocks-same-height > .block-8 > .block-inner
{
	padding-bottom:36px;
}

.homepage-blocks .block-1 > p,
.homepage-blocks .block-2 > p,
.homepage-blocks .block-3 > p,
.homepage-blocks .block-4 > p,
.homepage-blocks .block-5 > p,
.homepage-blocks .block-6 > p,
.homepage-blocks .block-7 > p,
.homepage-blocks .block-8 > p,
.homepage-blocks .block-full > p
{
	margin:0;
}

.homepage-blocks .block-1 > p > img,
.homepage-blocks .block-2 > p > img,
.homepage-blocks .block-3 > p > img,
.homepage-blocks .block-4 > p > img,
.homepage-blocks .block-5 > p > img,
.homepage-blocks .block-6 > p > img,
.homepage-blocks .block-7 > p > img,
.homepage-blocks .block-8 > p > img,
.homepage-blocks .block-full > p > img,
.homepage-blocks .block-1 > p > a > img,
.homepage-blocks .block-2 > p > a > img,
.homepage-blocks .block-3 > p > a > img,
.homepage-blocks .block-4 > p > a > img,
.homepage-blocks .block-5 > p > a > img,
.homepage-blocks .block-6 > p > a > img,
.homepage-blocks .block-7 > p > a > img,
.homepage-blocks .block-8 > p > a > img,
.homepage-blocks .block-full > p > a > img
{
	display:block;
}

/************************
 * Widgets Areas
 ************************/
 
.widget-header
{
	font-size:160%;
	line-height:140%;
	margin:-10px -10px 16px;
	padding:26px 10px 6px;
	border-bottom:1px solid transparent;
	border-bottom-color:rgba(0,0,0,0.1);
	font-weight:bold;
}

.footer .widget-header
{
	border-bottom:0;
}

/* Posts */

.post-widget
{
	margin:12px 0 24px 0;
	display:table;
	border-collapse:collapse;
	width:100%;
}

.post-widget-pic
{
	display:table-cell;
	float:none;
}

.post-widget-pic .inner
{
	position:relative;
	left:-10px;	
}

.post-widget-pic .block-inner
{
	padding-right:0;
	padding-bottom:0;
}

.post-widget-pic img
{
	display:block;
	max-width:100%;
	max-height:100%;
	width:auto;
	height:auto;
	
	-webkit-transition:opacity 0.3s;
	-moz-transition:opacity 0.3s;
	transition:opacity 0.3s;
}

.post-widget-pic img:hover
{
	opacity:0.8;
}

.post-widget-text
{
	display:table-cell;
	vertical-align:bottom;
}

.post-widget-text .date
{
	font-style:italic;
	font-size:85%;
	margin-bottom:2px;
}

.post-widget-text .title
{
}

.widgets-area ul
{
	list-style:none;
	padding:0;
	margin:16px 0;
}

.widgets-area ul li
{
	background:url(img/li.png) no-repeat left 2px;
	padding-left:18px;
	margin-bottom:6px;
}

.widgets-area img
{
	max-width:100%;
	height:auto;
}

/************************
 * Sidebar
 ************************/

.sidebar
{
	overflow:hidden;
}

.flip-sidebar .content-with-sidebar
{
	position:relative;
	left:324px;
}

.flip-sidebar .sidebar
{
	position:relative;
	left:-648px;	
}

.sidebar > div:first-child .widget-header
{
	padding-top:47px;
}

.menu .current-menu-item a,
.menu .current-menu-item a:hover
{
	color:inherit;
	text-decoration:none;
	font-weight:bold;
}

/************************
 * Content Styling
 ************************/

.edit-post-link
{
	position:absolute;
	top:10px;
	left:10px;
	font-size:90%;
}
.box-phone
{
	margin:16px 0;
}

.box-phone .phone
{
	font-size:210%;
	float:left;
	margin-right:12px;
	line-height:100%;
}

.box-phone .days
{
	float:left;
	font-size:85%;
	line-height:110%;
	margin-top:2px;
}

.hover-add-pane
{
	text-align:center;
	margin:32px 0;
}

.hover-add-pane .visible
{
	position:relative;
}

.hover-add-pane .pic
{
	margin-bottom:12px;
}

.hover-add-pane .title
{
	font-size:140%;
	font-weight:bold;
}

.hover-add-pane .hidden
{
	height:0;
	margin-top:-8px;
	opacity:0;
	overflow:hidden;
	font-size:90%;
}

.page-h1
{
	color:inherit;
	margin-bottom:0;
}

.page-h1-divider
{
	margin:0 -10px 32px;
	padding:0 10px 4px;
	border-bottom:1px solid #e8e7e7;
	border-bottom-color:rgba(0,0,0,0.1);
}

hr
{
	margin:16px -10px;
	border:0;
	border-bottom:1px solid #e8e7e7;
	border-bottom-color:rgba(0,0,0,0.1);
	height:0;
	overflow:hidden;
}

/* BreadCrumbs */

.breadcrumbs
{
	text-align:right;
	font-style:italic;
	font-size:90%;
	margin-bottom:4px;
}

.breadcrumbs a
{
	color:inherit;
}

.content-with-sidebar > .block-6 > .block-inner,
.content-without-sidebar > .block-inner
{
	padding-bottom:36px;
}

/************************
 * Blog
 ************************/

.post
{
	margin:36px 0 46px 0;
}

.post-title h3
{
	margin-top:0;
	margin-bottom:10px;
}

.post-read-more
{
	font-size:90%;
	margin-bottom:-3px;
}

.post-pic img
{
	-webkit-transition:opacity 0.3s;
	-moz-transition:opacity 0.3s;
	transition:opacity 0.3s;
}

.post-pic img:hover
{
	opacity:0.8;
}

.post-tbl-wrapper
{
	position:relative;
}

.post-tbl
{
	display:table;
	border-collapse:collapse;
	width:100%;
	table-layout:fixed;
}

.post-categories,
.post-tags,
.post-author,
.post-comments
{
	display:inline-block;
	margin-bottom:6px;
	margin-right:12px;
	font-size:90%;
	font-style:italic;
	line-height:100%;
}

.post-categories .label,
.post-tags .label,
.post-author .label,
.post-comments .label
{
	font-weight:bold;
}

.post-categories a,
.post-tags a,
.post-comments a,
.post-author a
{
	color:inherit;
	text-decoration:none;
}

.post-title-comment,
.post-title-link
{
	font-size:90%;
	margin-top:0;
}

.post-title-link
{
	background:url(img/link.png) no-repeat left center;
	padding-left:24px;
}

.block-3 .post-title-link {
	width:250px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}

.post-pic img
{
	max-width:100%;
	height:auto;
	display:block;
}

.post-pic a
{
	display:block;
}

.post-text p:first-child
{
	margin-top:0;
}

.post-text p
{
	margin-bottom:0;
}

/* Post Big */

.post-big
{
	position:relative;
}

.post.post-big
{
	margin-bottom:70px;
}

.post-big .post-title-comment,
.post-big .post-title-link
{
	margin-bottom:4px;
}

.post-big .post-pic
{
	display:table-cell;
	padding:0;
	float:none;
}

.post-big .post-pic > .block-3
{
	float:none;
}

.post-big .post-pic .block-inner
{
	padding-left:0;
	padding-top:0;
	padding-bottom:0;
}

.post-big .post-data
{
	display:table-cell;
	padding:0;
	vertical-align:bottom;
}

.post-big .post-head
{
	display:table;
	width:100%;
	margin-bottom:22px;
}

.post-big .post-date
{
	display:table-cell;
	float:none;
	vertical-align:bottom;
	color:#fff;
	position:relative;
}

.post-big .post-date-inner
{
	display:inline-block;
	text-align:center;
	font-size:100%;
	text-transform:uppercase;
	line-height:100%;
}

.post-big .post-date-inner div
{
	font-size:190%;
	line-height:100%;
	padding-left:1px;
}

.post-big .post-title
{
	display:table-cell;
	vertical-align:top;
}

.post-big .post-title-inner
{
	margin-left:10px;
	border-top:2px solid transparent;
	
}

.post-big .post-title h3
{
	margin:12px 0 4px 0;
	font-size:195%;
	line-height:125%;
}

.post-big .post-title a
{
	color:inherit;
}

.post-big .post-title a:hover 
{
	text-decoration:none;
}

.post-big .post-categories,
.post-big .post-tags,
.post-big .post-author,
.post-big .post-comments
{
	margin-bottom:0;
}

.post-big .post-gallery-thumbs
{
	position:absolute;
	top:-6px;
	left:308px;
	right:-18px;
}

.post-big .post-gallery-thumbs .item a
{
	display:block;
}

.post-big .post-gallery-thumbs .item img
{
	display:block;
	max-width:100%;
	height:auto;
}

.post-big .post-gallery-thumbs .block-inner
{
	padding-top:0;
	padding-left:0;
}

.post-big.format-gallery .post-data
{
	padding-top:108px;
}

.post-big .post-gallery-thumbs .pic-1 img,
.post-big .post-gallery-thumbs .pic-2 img,
.post-big .post-gallery-thumbs .pic-3 img
{
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.post-big .post-gallery-thumbs .pic-1 img
{
	opacity:0.9;
}

.post-big .post-gallery-thumbs .pic-2 img
{
	opacity:0.6;
}

.post-big .post-gallery-thumbs .pic-3 img
{
	opacity:0.4;
}

.post-big .post-gallery-thumbs .pic-1 img:hover,
.post-big .post-gallery-thumbs .pic-2 img:hover,
.post-big .post-gallery-thumbs .pic-3 img:hover
{
	opacity:1;
}

.post-big .jp-container
{
	margin:0;
}

.post-big .jp-jplayer img
{
	margin-bottom:-32px;
	opacity:1;
}



/* Post Small */

.post-small-category-title h2
{
	font-size:190%;  
}

.post-small .post-title h3
{
	line-height:130%;
	margin-bottom:6px;
}

.post-small-category-title a,
.post-small-category-title a:hover
{
	color:inherit;
	text-decoration:none;
}

.post-small .post-date
{
	display:inline-block;
	margin-right:12px;
	margin-bottom:10px;
	font-size:90%;
	font-style:italic;
}

.post-small .post-title-comment,
.post-small .post-title-link
{
	margin-top:-4px;
	margin-bottom:12px;
}

.post-small .post-pic
{
	margin-top:5px;
	float:left;
}

.post-small.thumbnail-right .post-pic
{
	float:right;
}

.post-small .post-pic .block-inner
{
	padding-top:0;
	padding-bottom:0;
}

.post-small .post-pic .block-inner.move-left
{
	padding-right:0;
}

.post-small .post-pic .block-inner.move-right
{
	padding-left:0;
}

.post-small .post-title a:hover
{
	text-decoration:none;
	border-bottom:2px solid;
}

/*********/

.post-small.post-big-thumb
{
	margin-bottom:32px;
}

.post-small.post-big-thumb h3
{
	font-size:170%;
}

.post-small .post-big-pic
{
	display:block;
	position:relative;
	text-decoration:none;
}

.post-small .post-big-pic-pic img
{
	display:block;
}

.post-small .post-big-pic-over
{
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0;
	
	/*border:6px solid rgba(255,255,255,0.4);*/
	
	-webkit-transition:0.3s opacity;
	-moz-transition:0.3s opacity;
	transition:0.3s opacity;
}

.post-small .post-big-pic-text
{
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow:hidden;
	color:#fff;
	opacity:0;
	
	font-size:160%;
	line-height:140%;

	-webkit-transition:0.3s opacity;
	-moz-transition:0.3s opacity;
	transition:0.3s opacity;
}

.post-small .post-big-pic-text .cutted-link
{
	opacity:0.5;
}

.post-small .post-big-pic-text .block-inner
{
	display:block;
	position:relative;
	margin-top:100%;
	
	-webkit-transition:0.3s all;
	-moz-transition:0.3s all;
	transition:0.3s all;
}

.no-touch .post-small .post-big-pic:hover .post-big-pic-over
{
	opacity:0.9;
}

.no-touch .post-small .post-big-pic:hover .post-big-pic-text
{
	opacity:1;
}

.no-touch .post-small .post-big-pic:hover .post-big-pic-text .block-inner
{
	margin-top:0;
}

/* Full */

.post-full .post-date
{
	display:inline-block;
	margin-right:12px;
	margin-bottom:6px;
	font-size:90%;
	font-style:italic;
}

.post-full .post-text
{
	margin-top:16px;
}

/************************
 * Comments
 ************************/
 
.comment
{
	margin:36px 0;
}

.comment-inner
{
	margin-left:96px;
}

.comment-uber-inner
{
	display:table;	
	border-collapse:collapse;
	width:100%;
}

.comment-inner.depth-1
{
	margin-left:0;
}

.comment-inner.depth-2
{
	margin-left:24px;
}

.comment-inner.depth-3
{
	margin-left:48px;
}

.comment-inner.depth-4
{
	margin-left:72px;
}

.comment .info
{
	display:table-cell;
	vertical-align:top;
	width:200px;
}

.comment .info .pic
{
	display:table-cell;
	vertical-align:top;
	padding-right:12px;
}

.comment .info .pic-inner
{
	float:left;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	overflow:hidden;
}

.comment .info .pic-inner img
{
	display:block;
}

.comment .info .name-date
{
	display:table-cell;
	vertical-align:top;
}

.comment .info .name
{
	font-size:110%;
	margin-top:9px;
}

.comment .info .name a
{
	color:inherit;
	text-decoration:none;
}

.comment .info .date
{
	margin-top:4px;
	font-style:italic;
	font-size:85%;
}

.comment .info .date a
{
	color:inherit;
}

.comment .info .edit
{
	font-size:85%;
	font-style:italic;
}

.comment .frame
{
	display:table-cell;
}

.comment .frame-inner
{
	background:rgba(0,0,0,0.03);
	padding:1px 12px 1px 12px;
	font-size:90%;
	position:relative;
	
	-webkit-box-shadow:inset 0 1px 0 rgba(0,0,0,0.07);
	-moz-box-shadow:inset 0 1px 0 rgba(0,0,0,0.07);
	box-shadow:inset 0 1px 0 rgba(0,0,0,0.07);
}

.comment .frame-inner:after
{
	content:'';
	position:absolute;
	top:5px;
	left:-24px;
	width:0;
	height:0;
	
	border:12px solid transparent;
	border-right-color:rgba(0,0,0,0.03);
}

.comment .reply
{
	text-align:right;
	line-height:18px;
	margin:-8px 0 8px 0;
}

.comment .reply a
{
	display:inline-block;
	background:url(img/reply.png) no-repeat right 4px;
	padding:0 20px 0 0;
}

.comment .reply a span
{
	opacity:0;
	
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	transition:0.3s;
}

.comment .frame-inner:hover .reply a span
{
	opacity:1;
}

.new-comment-caption
{
	font-size:125%;
	font-weight:bold;
	margin:32px 0 16px 0;
}

/* New comment form */

.new-comment
{
	margin-bottom:32px;
}

.new-comment .one-third
{
	width:32.66%;
	margin:0 1% 1% 0;
}

.new-comment .one-third.last
{
	margin-right:0;
}

.new-comment input[type=text],
.new-comment input[type=password],
.new-comment textarea
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	margin:0;
}

.new-comment textarea
{
	margin-bottom:1%;
	display:block;
}

.new-comment input[type=submit],
.new-comment input[type=reset]
{
	margin-right:1%;
}

.cancel-comment-reply
{
	margin:16px 0;
	font-size:90%;
}

/************************
 * Forms
 ************************/

input[type=text],
input[type=password],
textarea
{
	background:#f7f7f7;
	background-color:rgba(0,0,0,0.03);
	border:0px;
	padding:6px 10px;
	margin:0;
	font-size:100%;
	
	border:1px solid transparent;
	border-top-color:rgba(0,0,0,0.07);
	
	border-radius:0px;
	
 	-webkit-appearance: none;
  -moz-appearance: none;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus
{
	background-color:rgba(0,0,0,0.02);
}

input.error,
textarea.error
{
	border-color:red;
	-webkit-box-shadow:0 0 5px 0 rgba(255,0,0,0.3);
	-moz-box-shadow:0 0 5px 0 rgba(255,0,0,0.3);
	box-shadow:0 0 5px 0 rgba(255,0,0,0.3);
}

input[type=button],
input[type=submit],
input[type=reset]
{
	padding:7px 12px;
	margin:0;
	border:0;
	cursor:pointer;
	font-size:105%;
	
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	transition:0.3s;
	
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  -webkit-box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.3), 0 6px 0 -3px rgba(0,0,0,0.15);
  -moz-box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.3), 0 6px 0 -3px rgba(0,0,0,0.15);
  box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.3), 0 6px 0 -3px rgba(0,0,0,0.15);
  
}

input[type=button],
input[type=submit]
{
	color:#fff;
}

input[type=button]:hover,
input[type=submit]:hover
{
	background-image:none;
}

input[type=reset]:hover
{
	color:#fff;
}

#s
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
}


.dark-panes-bg input[type=text],
.dark-panes-bg input[type=password],
.dark-panes-bg textarea {
  background:#0f0f0f;
  background:rgba(255,255,255,0.1);
  border-top-color:rgba(255,255,255,0.2);
  color:#fff;
}

.dark-panes-bg input[type=text]:focus,
.dark-panes-bg input[type=password]:focus,
.dark-panes-bg textarea:focus {
  background-color:rgba(255,255,255,0.15);
}


/************************
 * Galley
 ************************/
 
.custom-gallery 
{
	margin:16px 0;
	position:relative;
	background:#f2f2f2;
	background-color:rgba(0,0,0,0.03);
}

.custom-gallery .items
{
	
}

.custom-gallery .items .item
{
	display:none;
}

.custom-gallery .items .item:first-child
{
	display:block;
}

.custom-gallery .items .item a
{
	display:block;
}

.custom-gallery .items .item img
{
	max-width:100%;
	height:auto;
	display:block;
}

.custom-gallery .controls
{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	padding:12px 4px;
	font-size:24px;
	width:1.9em;
	z-index:100;
	opacity:0.3;
	
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.custom-gallery .controls.narrow
{
	width:1.3em;
}

.custom-gallery:hover .controls
{
	opacity:0.9;
}

.no-touch .custom-gallery:hover .controls
{
	width:70px; 
}
	

.custom-gallery .controls .next
{
	background:url(img/gallery.png) no-repeat center center;
	display:inline-block;
	width:17px;
	height:17px;
	margin:0 6px;
}

.custom-gallery .controls .pager
{
	position:absolute;
	top:36px;
	left:-24px;
	right:0;
	bottom:0;
	padding-left:24px;
	overflow:hidden;
}

.custom-gallery .controls .pager-inner
{
	position:relative;
	top:0;
}

.custom-gallery .controls .pager a
{
	display:block;
	padding:0 12px;
	color:#fff;
	text-decoration:none;
	line-height:130%;
	position:relative;
	opacity:0.6;
	
	-webkit-transition: background-color 0.3s, padding 0.3s;
	-moz-transition: background-color 0.3s, padding 0.3s;
	transition: background-color 0.3s, padding 0.3s;
}

.custom-gallery .controls .pager a:hover
{
	background-color:rgba(255,255,255,0.3);
}

.custom-gallery .controls .pager a:hover.active
{
	background:none;
}

.custom-gallery .controls .pager a.active
{
	opacity:1;
}

.custom-gallery .controls .pager a:after
{
	content:'';
	display:block;
	position:absolute;
	top:5px;
	left:-24px;
	border:12px solid transparent;
	width:0;
	height:0;
	display:none;
}

.custom-gallery .controls .pager a.active:after
{
	display:block;
}

/************************
 * Navigation
 ************************/

.navigation-pages
{
	margin:32px 0 16px 0;
	line-height:28px;
	font-size:90%;
}

.navigation-pages a
{
	text-decoration:none;
}

.navigation-pages span.title
{
	display:inline-block;
	padding:0 10px;
	margin-right:3px;
	-webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
}

.navigation-pages span.item
{
	display:inline-block;
	width:28px;
	text-align:center;
	color:#fff;
	margin-right:6px;
	margin-bottom:6px;
}

.navigation-pages span.dots
{
	margin-right:6px;
	margin-bottom:6px;
}

.navigation-pages a span.item
{
	background-color:none;
	background-color:rgba(0,0,0,0.03);
	color:inherit;
	
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	transition:0.3s;
	
	-webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.07);
	-moz-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.07);
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.07);
}

.navigation-pages a:hover span.item
{
	color:#fff;
}

/************************
 * Navigation Prev Next
 ************************/

.navigation-prev-next
{
	margin:32px 0 16px 0;
	line-height:28px;
}

.navigation-prev-next .navigation-prev
{
	float:left;
}

.navigation-prev-next .navigation-next
{
	float:right;
}

.navigation-prev-next .navigation-prev a,
.navigation-prev-next .navigation-next a
{
	display:block;
	text-decoration:none;
	-webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.07);
	-moz-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.07);
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.07);
	
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	transition:0.3s;
}

.navigation-prev-next .navigation-prev a:before,
.navigation-prev-next .navigation-next a:after
{
	content:'\2190';
	display:inline-block;
	width:28px;
	text-align:center;
	color:#fff;
}

.navigation-prev-next .navigation-prev a:before
{
	margin-right:12px;
}

.navigation-prev-next .navigation-next a:after
{
	content:'\2192';
	margin-left:12px;
}

.navigation-prev-next .navigation-prev a
{
	padding-right:12px;
}

.navigation-prev-next .navigation-next a
{
	padding-left:12px;
}

.navigation-prev-next .navigation-prev a:hover,
.navigation-prev-next .navigation-next a:hover
{
	color:#fff;
}

/****************************
* jPlayer
****************************/
.jp-jplayer {
  text-align: center;
  margin: 0 auto;
}
.jp-jplayer img {
	display:block !important;
}
.video-embed-ni .jp-jplayer img {
	position:absolute;
	top:0;
	left:0;
} 
.jp-container {
  margin-bottom: 18px;
}
.jp-interface {
  position: relative;
  background: #797979;
  background: -moz-linear-gradient(top, #989898 0%, #595959 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #989898), color-stop(100%, #595959));
  background: -webkit-linear-gradient(top, #989898 0%, #595959 100%);
  background: -o-linear-gradient(top, #989898 0%, #595959 100%);
  background: -ms-linear-gradient(top, #989898 0%, #595959 100%);
  background: linear-gradient(top, #989898 0%, #595959 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= #999999 , endColorstr= #595959 ,GradientType=0 );
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.6);
  height: 32px;
}
.jp-controls {
  position: relative;
}
.jp-controls a {
  position: absolute;
}
.jp-play {
  display: block;
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  background: url('img/icon-play.png') no-repeat center center;
}
.jp-pause {
  display: block;
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  background: url('img/icon-pause.png') no-repeat center center;
}
.jp-play-pause-divider, .jp-mute-unmute-divider {
  position: absolute;
  top: 0;
  left: 32px;
  width: 1px;
  height: 32px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.2);
  box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.2);
}
.jp-mute-unmute-divider {
  left: auto;
  right: 89px;
}
.jp-mute {
  display: block;
  width: 32px;
  height: 32px;
  top: 0;
  right: 56px;
  background: url('img/icon-mute.png') no-repeat center center;
}
.jp-unmute {
  display: block;
  width: 32px;
  height: 32px;
  top: 0;
  right: 56px;
  background: url('img/icon-unmute.png') no-repeat center center;
}
.jp-volume-bar, .jp-progress {
  position: absolute;
  top: 11px;
  right: 11px;
  height: 8px;
  width: 40px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-right-color: rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.1);
}
.jp-progress {
  right: 106px;
  left: 49px;
  width: auto;
}
.jp-volume-bar-value, .jp-play-bar {
  height: 8px;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7), inset 0 -1px 0 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7), inset 0 -1px 0 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7), inset 0 -1px 0 0 rgba(0, 0, 0, 0.4);
}

/************************
 * Hover Link
 ************************/
 
.show-hover-link
{
	position:relative;	
}
 
.show-hover-link .after
{
	display:none;
}

/*.no-touch .show-hover-link .after
{
	display:block;
	visibility:hidden;
	position:absolute;
	top:50%;
	left:50%;
	width:60px;
	height:60px;
	/*-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;//*/
	/*margin:-30px 0 0 -30px;
	background:#fff url(img/link-big.png) no-repeat center center;
	background-color:rgba(255,255,255,0.5);
	
	-webkit-transform: scale(0,0);
	-moz-transform: scale(0,0);
	transform: scale(0,0);

	-webkit-transition:-webkit-transform 0.3s;
	-moz-transition:-moz-transform 0.3s;
	transition:transform 0.3s;
}
*/
.no-touch .show-hover-link:hover .after
{
	visibility:visible;
	
	-webkit-transform: scale(1.0,1.0);
	-moz-transform: scale(1.0,1.0);
	transform: scale(1.0,1.0);
	
	-webkit-transition:0.3s -webkit-transform cubic-bezier(0, 0, 0.4, 2.0);
	-moz-transition:0.3s -moz-transform cubic-bezier(0, 0, 0.4, 2.0);
	transition:0.3s transform cubic-bezier(0, 0, 0.4, 2.0);
}

/************************
 * Portfolio
 ************************/

.portfolio-small-thumb,
.portfolio-small-thumb img
{
	display:block;
}

.portfolio-thumb
{
	position:relative;
}

.portfolio-thumb .desc
{
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	transition:0.3s;
}
	
.portfolio-thumb .pic
{
	overflow:hidden;
	text-align:center !important;
	margin: 0 auto !important;
}

.portfolio-thumb .pic img
{
	display:block;
	text-align:center !important;
	margin: 0 auto !important;
}

.portfolio-thumb .title
{
	padding:10px 12px;
	font-size:120%;
	line-height:130%;
	text-align:center;

	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	transition:0.3s;
}

.portfolio-thumb .link
{
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	
	color:#fff;
	border:6px solid rgba(255,255,255,0);
	
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	transition:0.3s;
}

.msie .portfolio-thumb .link
{
	background-image:url(about:blank);
}


.no-touch .portfolio-thumb:hover .link
{
	border-color:rgba(255,255,255,0.3);
}

.no-touch .portfolio-thumb.show-hover-link .after
{
	top:40%;
}

.portfolio-thumb .tags
{
	position:absolute;
	bottom:10px;
	left:12px;
	right:12px;
	text-align:center;
	font-size:90%;
	font-style:italic;
}

.portfolio-thumb .tags a
{
	position:relative;
	z-index:1;
	color:inherit;
	opacity:0.8;
}

.portfolio-thumb:hover .title,
.portfolio-thumb:hover .tags
{
	color:#fff;
}

/* Item */

.portfolio-item
{
	display:table;
	table-layout:fixed;
	width:100%;
}

.portfolio-item .desc,
.portfolio-item .pic
{
	display:table-cell;
	vertical-align:top;
}

.portfolio-item .pic
{
	padding-top:16px;
	float:none;
}

.portfolio-item .pic .custom-gallery
{
	margin:0;
}

/****************************
* Sort Menu
****************************/

.sort-menu
{
	list-style:none;
	margin:0;
	padding:0;
}

.sort-menu li
{
	float:left;
	margin:0 18px 12px 0;
}

.sort-menu li a.button
{
	color:#fff !important;
	margin:0 !important;
	padding:7px 3em 7px 10px !important;
	position:relative;
}

.sort-menu li a.button .count
{
	position:absolute;
	top:1px;
	right:1px;
	bottom:2px;
	min-width:2em;
	text-align:center;
	padding:6px 0 5px;
	background:#fff;
	overflow:hidden;
}

.sort-menu li a.button .count span
{
	position:relative;
}


/****************************
* Isotope
****************************/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity, -webkit-box-shadow;
  -moz-transition-property: -moz-transform, opacity, -moz-box-shadow;
  transition-property: transform, opacity, box-shadow;
}
/* disabling Isotope CSS3 transitions ----------------------------*/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  transition-duration: 0s;
}

/************************
 * Thumbs masonry
 ************************/

.thumbs-masonry
{
	margin:-6px;
}

.thumbs-masonry .isotope-item
{
	overflow:hidden;
}

.thumbs-masonry .isotope-item a
{
	display:block;
	position:relative;
}

.thumbs-masonry .isotope-item a img
{
	display:block;
	width:100%;
}

.thumbs-masonry .isotope-item a .before
{
	display:none;
}

.no-touch .thumbs-masonry .isotope-item a .before
{
	content:'';
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	color:#fff;
	border:6px solid rgba(255,255,255,0);
	
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
}

.no-touch .thumbs-masonry .isotope-item a:hover .before
{
	border-color:rgba(255,255,255,0.3);
}

/************************
 * Footer
 ************************/

.footer
{
	margin-bottom:30px !important;
}
 
.sub-footer
{
	font-size:90%;
}

.sub-footer a
{
	text-decoration:underline;
	color:inherit;
}

.sub-footer-column-1
{
	line-height:24px;
}
	
.sub-footer-column-2
{
	text-align:right;
}

.sub-footer-divider
{
	height:1px;
	overflow:hidden;
	opacity:0.3;
	margin:-6px 0;
}


/************************
 * Social Icons
 ************************/
 
.social
{
	display:inline-block;
	width:24px;
	height:24px;
	opacity:0.15;
	margin:0 0 0 6px;
	vertical-align:middle;	
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.social:hover
{
	opacity:0.4;
}

.social.color-light
{
	opacity:0.3;
}

.social.color-light:hover
{
	opacity:0.7;
}

/* Dark */

.social.facebook
{
	background-image:url('img/social/dark/icon-facebook.png');
}

.social.twitter
{
	background-image:url('img/social/dark/icon-twitter.png');
}

.social.lastfm
{
	background-image:url('img/social/dark/icon-lastfm.png');
}

.social.linkedin
{
	background-image:url('img/social/dark/icon-linkedin.png');
}

.social.behance
{
	background-image:url('img/social/dark/icon-behance.png');
}

.social.rss
{
	background-image:url('img/social/dark/icon-rss.png');
}

.social.blogger
{
	background-image:url('img/social/dark/icon-blogger.png');
}

.social.deviantart
{
	background-image:url('img/social/dark/icon-deviantart.png');
}

.social.dribble
{
	background-image:url('img/social/dark/icon-dribble.png');
}

.social.flickr
{
	background-image:url('img/social/dark/icon-flickr.png');
}

.social.google
{
	background-image:url('img/social/dark/icon-google.png');
}

.social.myspace
{
	background-image:url('img/social/dark/icon-myspace.png');
}

.social.pinterest
{
	background-image:url('img/social/dark/icon-pinterest.png');
}

.social.skype
{
	background-image:url('img/social/dark/icon-skype.png');
}

.social.vimeo
{
	background-image:url('img/social/dark/icon-vimeo.png');
}

.social.youtube
{
	background-image:url('img/social/dark/icon-youtube.png');
}

/* Light */

.social.color-light.facebook
{
	background-image:url('img/social/light/icon-facebook.png');
}

.social.color-light.twitter
{
	background-image:url('img/social/light/icon-twitter.png');
}

.social.color-light.lastfm
{
	background-image:url('img/social/light/icon-lastfm.png');
}

.social.color-light.linkedin
{
	background-image:url('img/social/light/icon-linkedin.png');
}

.social.color-light.behance
{
	background-image:url('img/social/light/icon-behance.png');
}

.social.color-light.rss
{
	background-image:url('img/social/light/icon-rss.png');
}

.social.color-light.blogger
{
	background-image:url('img/social/light/icon-blogger.png');
}

.social.color-light.deviantart
{
	background-image:url('img/social/light/icon-deviantart.png');
}

.social.color-light.dribble
{
	background-image:url('img/social/light/icon-dribble.png');
}

.social.color-light.flickr
{
	background-image:url('img/social/light/icon-flickr.png');
}

.social.color-light.google
{
	background-image:url('img/social/light/icon-google.png');
}

.social.color-light.myspace
{
	background-image:url('img/social/light/icon-myspace.png');
}

.social.color-light.pinterest
{
	background-image:url('img/social/light/icon-pinterest.png');
}

.social.color-light.skype
{
	background-image:url('img/social/light/icon-skype.png');
}

.social.color-light.vimeo
{
	background-image:url('img/social/light/icon-vimeo.png');
}

.social.color-light.youtube
{
	background-image:url('img/social/light/icon-youtube.png');
}

/****************************
* Buttons
****************************/
.button, a.button {
	/*Important attribute is for WooCommerce compatibility*/
	
  display: inline-block !important;
  border: 0 !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1))) !important;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%) !important;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%) !important;
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%) !important;
  background-image: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%) !important;
  line-height: 18px !important;
  padding: 7px 10px !important;
  margin: 0 5px 12px 0 !important;
  -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s;
  -moz-transition: background-color 0.3s, -moz-box-shadow 0.3s;
  -ms-transition: background-color 0.3s, box-shadow 0.3s;
  -o-transition: background-color 0.3s, box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s;
  text-decoration: none !important;
  
  -webkit-box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.3), 0 6px 0 -3px rgba(0,0,0,0.15) !important;
  -moz-box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.3), 0 6px 0 -3px rgba(0,0,0,0.15) !important;
  box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.3), 0 6px 0 -3px rgba(0,0,0,0.15) !important;
  
  font-size:100% !important;
  font-weight:normal !important;
  text-shadow:none !important;
  -webkit-border-radius:0 !important;
  -moz-border-radius:0 !important;
  border-radius:0 !important;
}
.button.text-bright, a.button.text-bright {
  /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);*/
}
.button.text-dark, a.button.text-dark {
  /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);*/
}
.button.single-color:hover, a.button.single-color:hover {
  background-image: none !important;
  -webkit-box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.3), 0 6px 0 -3px rgba(0,0,0,0.15), 0 1000px 0 rgba(255,255,255,0.2) !important;
  -moz-box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.3), 0 6px 0 -3px rgba(0,0,0,0.15), 0 1000px 0 rgba(255,255,255,0.2) !important;
  box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.3), 0 6px 0 -3px rgba(0,0,0,0.15), inset 0 1000px 0 rgba(255,255,255,0.2) !important;
}
.button p, a.button p {
  margin: 0;
}
.button.size-mini, a.button.size-mini {
  padding: 1px 6px !important;
  font-size: 90% !important;
}
.button.size-small, a.button.size-small {
  padding: 4px 8px !important;
}
.button.size-large, a.button.size-large {
  line-height: 22px !important;
  padding: 12px 12px !important;
  font-size: 110% !important;
}
.button.size-xlarge, a.button.size-xlarge {
  padding: 14px 60px 14px 16px !important;
  position: relative !important;
}
.button.size-xlarge .button-title, a.button.size-xlarge .button-title {
  display: block !important;
  margin-bottom: 12px !important;
  font-size: 120% !important;
}
.button.size-xlarge .button-text, a.button.size-xlarge .button-text {
  font-size: 12px !important;
}
.button.size-xlarge:after, a.button.size-xlarge:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  -webkit-box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.2), inset 1px 0 0 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.2), inset 1px 0 0 0 rgba(255, 255, 255, 0.2);
  box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.2), inset 1px 0 0 0 rgba(255, 255, 255, 0.2);
  background: url('img/xlarge-button-arr.png') no-repeat center bottom;
}

/****************************
* Tooltip
****************************/
.tooltip {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 6px 8px;
  display: none;
  opacity: 0;
  margin-top: -15px;
  width: 120px;
  margin-left: -69px;
  font-size: 11px;
  line-height: 16px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 999;
}

/****************************
* Some common overrides
****************************/
.left {
  float: left;
  margin-right: 16px;
  margin-top: 4px;
  margin-bottom: 11px;
}
.right {
  float: right;
  margin-top: 4px;
  margin-left: 16px;
  margin-bottom: 11px;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

blockquote
{
	margin:16px 0;
	padding:0 32px 0 36px;
	position:relative;
	font-size:110%;
	line-height:140%;
	font-style:italic;
}

blockquote:before
{
	content:'\201C';
	position:absolute;
	top:10px;
	left:0;
	font-size:320%;
	font-style:normal;
}

blockquote:after
{
	content:'\201E';
	position:absolute;
	bottom:13px;
	right:0;
	font-size:320%;
	font-style:normal;
}

blockquote p
{
	margin:16px 0 0 0;
}

blockquote p:first-of-type
{
	margin:0;
}

.pullquote
{
	margin:16px 0;
}

.pullquote.border-left
{
	border-left:2px solid;
	padding:0 0 0 18px;
}

/****************************
* Aligned Content
****************************/

.content-block {
  margin-bottom: 16px;
  overflow: hidden;
}

.content-block.center,
.content-block.eat-left
{
	margin-top: 16px;
}

.content-block .content-title {
  font-style: italic;
}

.content-block.eat-left .content-title
{
  padding-left:10px;	
}

/****************************
* Toggle
****************************/
.toggle {
  margin: 16px 0;

	background:rgba(0,0,0,0.02);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.04)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
  background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
  border:1px solid rgba(0,0,0,0.08);  
}
.toggle-title {
  display: block;
  font-size: 115%;
  line-height: 26px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  padding:6px 12px 6px 40px;
  background:url(img/toggle-control.png) no-repeat 13px 12px;
}
.toggle-title:hover {
	background-color:rgba(0,0,0,0.02);
}

.toggle-title.expanded {
  background-position: 13px -179px;
}
.toggle-inner {
  display: none;
  padding: 1px 12px 1px 40px;
}

.dark-panes-bg .toggle {
  background:rgba(255,255,255,0.1);
  background: -moz-linear-gradient(top, rgba(255,255,255, 0.1) 0%, rgba(255,255,255, 0.2) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255, 0.1)), color-stop(100%, rgba(255,255,255, 0.2)));
  background: -webkit-linear-gradient(top, rgba(255,255,255, 0.1) 0%, rgba(255,255,255, 0.2) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255, 0.1) 0%, rgba(255,255,255, 0.2) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255, 0.1) 0%, rgba(255,255,255, 0.2) 100%);
  background: linear-gradient(top, rgba(255,255,255, 0.1) 0%, rgba(255,255,255, 0.2) 100%);
  border:1px solid rgba(255,255,255,0.1); 
}
.dark-panes-bg .toggle-title:hover {
  background-color:rgba(255,255,255,0.1);
}

/****************************
* Accordion
****************************/

.accordion {
	margin:16px 0;
	border-bottom:1px solid rgba(0,0,0,0.08); 
}
.accordion > * {
  display: none;
}
.accordion .toggle {
  display: block;
  margin:0 0 0 0;
  border-bottom:0px;
}

/****************************
* Tabs
****************************/
.tabs {
  margin:16px 0;
}
.tabs-control {
  list-style: none;
  display:table;
  border-collapse:collapse;
  width:100%;
  padding: 0;
  margin: 0;
}
.tabs-control li {
  line-height: 130%;
  display:table-cell;
  border:1px solid rgba(0,0,0,0.08);
  border-bottom:0;
  font-size: 115%;
}
.tabs-control li a {
  display: block;
  padding: 11px 12px 8px;
  color: inherit;
  text-decoration:none;
  
	background:rgba(0,0,0,0.02);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.04)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
  background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
  
  border-bottom:1px solid rgba(0,0,0,0.08);
  
  -webkit-box-shadow:inset 1px 0 0 0 rgba(255,255,255,0.5);
  -moz-box-shadow:inset 1px 0 0 0 rgba(255,255,255,0.5);
  box-shadow:inset 1px 0 0 0 rgba(255,255,255,0.5);
  
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.tabs-control li a:hover {
	background-color:rgba(0,0,0,0.02);
}
.tabs-control li a.active, .tabs-control li a.active:hover {
  position: relative;
  z-index: 1;
  border-color:transparent;
  background:none;
}
.tabs-tabs {
	border:1px solid #eee;
	border-color:rgba(0,0,0,0.1);
	border-top:0;
  
  clear: left;
  margin: 0;
  position: relative;
}
.tabs-tabs  > * {
  display: none;
}
.tabs-tabs .tabs-tab {
  display: none;
  padding: 1px 12px;
}
.tabs-tabs .tabs-tab:after {
  content: '';
  clear: both;
  height: 0;
  overflow: hidden;
}
.tabs-tabs .tabs-tab:first-child {
  display: block;
}

.dark-panes-bg .tabs-control li {
  border-color:rgba(255,255,255,0.2);
}
.dark-panes-bg .tabs-control li a {
  background:rgba(255,255,255,0.1);
  background: -moz-linear-gradient(top, rgba(255,255,255, 0.1) 0%, rgba(255,255,255, 0.2) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255, 0.1)), color-stop(100%, rgba(255,255,255, 0.2)));
  background: -webkit-linear-gradient(top, rgba(255,255,255, 0.1) 0%, rgba(255,255,255, 0.2) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255, 0.1) 0%, rgba(255,255,255, 0.2) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255, 0.1) 0%, rgba(255,255,255, 0.2) 100%);
  background: linear-gradient(top, rgba(255,255,255, 0.1) 0%, rgba(255,255,255, 0.2) 100%);

  border-bottom:1px solid rgba(255,255,255,0.1);

  -webkit-box-shadow:inset 1px 0 0 0 rgba(0,0,0,0.5);
  -moz-box-shadow:inset 1px 0 0 0 rgba(0,0,0,0.5);
  box-shadow:inset 1px 0 0 0 rgba(0,0,0,0.5);

}
.dark-panes-bg .tabs-control li a:hover {
    background-color:rgba(255,255,255,0.02);
}

.dark-panes-bg .tabs-control li a.active, .tabs-control li a.active:hover {
  border-color:transparent;
  background:none;
}

.dark-panes-bg .tabs-tabs {
    border-color:rgba(255,255,255,0.2);
}

/****************************
* Dropcap
****************************/
.dropcap {
  float: left;
  margin: 0 5px 0 -0.08em;
  line-height:100%;
}
.dropcap.with-bg-color {
  padding: 0.11em 0.21em 0.2em;

  -webkit-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.3);
  box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.3);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);

}
.dropcap.bgcolor-theme {
  color: #fff;
}

/****************************
* Icons
****************************/
.with-icon-inside {
  margin-left: 24px;
}
.with-icon-inside .icon {
  width: 16px;
  height: 16px;
  margin-right: -16px;
  position: relative;
  left: -22px;
  top: -1px;
  display: inline-block;
  vertical-align: middle;
}
.with-icon {
	display:inline-block;
  min-height: 17px;
  background-repeat: no-repeat;
  background-position: left 1px;
  padding-left: 22px;
}
.bullets ul {
  list-style: none;
  padding: 0;
}
.bullets ul li {
  padding-left: 24px;
  background-repeat: no-repeat;
  background-position: left top;
  margin-bottom: 4px;
  min-height: 17px;
}

/****************************
* Marker
****************************/
.marker {
  padding: 1px 0.3em;
  margin-top: -2px;
  margin-bottom: -1px;
  background-color: #eee;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color:#fff;
}

/****************************
* Infopanes
****************************/
.infopane {
  padding: 14px 16px;
  margin: 16px 0;
  font-family: 'Arial', sans-serif;
}
.infopane.color-1 {
  background: #c5f4a9;
  background: -moz-linear-gradient(top, #ccf5b4 0%, #bdf29e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccf5b4), color-stop(100%, #bdf29e));
  background: -webkit-linear-gradient(top, #ccf5b4 0%, #bdf29e 100%);
  background: -o-linear-gradient(top, #ccf5b4 0%, #bdf29e 100%);
  background: -ms-linear-gradient(top, #ccf5b4 0%, #bdf29e 100%);
  background: linear-gradient(top, #ccf5b4 0%, #bdf29e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= #cbf5b3 , endColorstr= #bcf29c ,GradientType=0 );
  border: 1px solid #bdf29e;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  color: #0d590d;
}
.infopane.color-2 {
  background: #c5f4a9;
  background: -moz-linear-gradient(top, #ccf5b4 0%, #bdf29e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccf5b4), color-stop(100%, #bdf29e));
  background: -webkit-linear-gradient(top, #ccf5b4 0%, #bdf29e 100%);
  background: -o-linear-gradient(top, #ccf5b4 0%, #bdf29e 100%);
  background: -ms-linear-gradient(top, #ccf5b4 0%, #bdf29e 100%);
  background: linear-gradient(top, #ccf5b4 0%, #bdf29e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= #cbf5b3 , endColorstr= #bcf29c ,GradientType=0 );
  border: 1px solid #bdf29e;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  color: #0d590d;
}
.infopane.color-3 {
  background: #f6d9d9;
  background: -moz-linear-gradient(top, #f8e3e3 0%, #f3cfcf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8e3e3), color-stop(100%, #f3cfcf));
  background: -webkit-linear-gradient(top, #f8e3e3 0%, #f3cfcf 100%);
  background: -o-linear-gradient(top, #f8e3e3 0%, #f3cfcf 100%);
  background: -ms-linear-gradient(top, #f8e3e3 0%, #f3cfcf 100%);
  background: linear-gradient(top, #f8e3e3 0%, #f3cfcf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= #f8e2e2 , endColorstr= #f3cece ,GradientType=0 );
  border: 1px solid #f3cfcf;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  color: #e12929;
}
.infopane.color-4 {
  background: #f4e6a2;
  background: -moz-linear-gradient(top, #f6e9ae 0%, #f3e397 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6e9ae), color-stop(100%, #f3e397));
  background: -webkit-linear-gradient(top, #f6e9ae 0%, #f3e397 100%);
  background: -o-linear-gradient(top, #f6e9ae 0%, #f3e397 100%);
  background: -ms-linear-gradient(top, #f6e9ae 0%, #f3e397 100%);
  background: linear-gradient(top, #f6e9ae 0%, #f3e397 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= #f5e9ad , endColorstr= #f3e396 ,GradientType=0 );
  border: 1px solid #f3e397;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  color: #5b4d13;
}
.infopane.color-5 {
  background: #f34b3f;
  background: -moz-linear-gradient(top, #f4564b 0%, #f24033 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4564b), color-stop(100%, #f24033));
  background: -webkit-linear-gradient(top, #f4564b 0%, #f24033 100%);
  background: -o-linear-gradient(top, #f4564b 0%, #f24033 100%);
  background: -ms-linear-gradient(top, #f4564b 0%, #f24033 100%);
  background: linear-gradient(top, #f4564b 0%, #f24033 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= #f35449 , endColorstr= #f23e31 ,GradientType=0 );
  border: 1px solid #f24033;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  color: #fff;
}
.infopane.color-6 {
  background: #ececec;
  background: -moz-linear-gradient(top, #f3f3f3 0%, #e6e6e6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, #e6e6e6));
  background: -webkit-linear-gradient(top, #f3f3f3 0%, #e6e6e6 100%);
  background: -o-linear-gradient(top, #f3f3f3 0%, #e6e6e6 100%);
  background: -ms-linear-gradient(top, #f3f3f3 0%, #e6e6e6 100%);
  background: linear-gradient(top, #f3f3f3 0%, #e6e6e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= #f2f2f2 , endColorstr= #e6e6e6 ,GradientType=0 );
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  color: #4b4b4b;
}
.infopane.color-7 {
  background: #bed9f4;
  background: -moz-linear-gradient(top, #c9e0f6 0%, #b3d3f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9e0f6), color-stop(100%, #b3d3f2));
  background: -webkit-linear-gradient(top, #c9e0f6 0%, #b3d3f2 100%);
  background: -o-linear-gradient(top, #c9e0f6 0%, #b3d3f2 100%);
  background: -ms-linear-gradient(top, #c9e0f6 0%, #b3d3f2 100%);
  background: linear-gradient(top, #c9e0f6 0%, #b3d3f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= #cbe0f6 , endColorstr= #b5d4f2 ,GradientType=0 );
  border: 1px solid #b3d3f2;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  color: #4b4b4b;
}
.infopane.color-8 {
  background: #e5edf6;
  background: -moz-linear-gradient(top, #eef3f9 0%, #dbe6f3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eef3f9), color-stop(100%, #dbe6f3));
  background: -webkit-linear-gradient(top, #eef3f9 0%, #dbe6f3 100%);
  background: -o-linear-gradient(top, #eef3f9 0%, #dbe6f3 100%);
  background: -ms-linear-gradient(top, #eef3f9 0%, #dbe6f3 100%);
  background: linear-gradient(top, #eef3f9 0%, #dbe6f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= #f0f4fa , endColorstr= #dde7f4 ,GradientType=0 );
  border: 1px solid #dbe6f3;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  color: #4b4b4b;
}
.infopane.color-9 {
  background: #d7f5e7;
  background: -moz-linear-gradient(top, #e1f7ed 0%, #cdf2e1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1f7ed), color-stop(100%, #cdf2e1));
  background: -webkit-linear-gradient(top, #e1f7ed 0%, #cdf2e1 100%);
  background: -o-linear-gradient(top, #e1f7ed 0%, #cdf2e1 100%);
  background: -ms-linear-gradient(top, #e1f7ed 0%, #cdf2e1 100%);
  background: linear-gradient(top, #e1f7ed 0%, #cdf2e1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= #e3f8ee , endColorstr= #cef2e2 ,GradientType=0 );
  border: 1px solid #cdf2e1;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  color: #5a6875;
}
.infopane .inner {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: 0 1px;
  min-height: 17px;
}

/****************************
* Biginfopane
****************************/
.biginfopane {
  margin: 32px 0;
 /* -webkit-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.3), 0 6px 0 -3px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.3), 0 6px 0 -3px rgba(0,0,0,0.15);
  box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.3), 0 6px 0 -3px rgba(0,0,0,0.15); */
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
  background-color: #989898;
  color: #fff;
}

.biginfopane.eat-left
{
 /* -webkit-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.3), 0 3px 0 0 rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.3), 0 3px 0 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.3), 0 3px 0 0 rgba(0,0,0,0.15);*/
}

.biginfopane .inner {
  display: table;
  width: 100%;
}
.biginfopane .text-block {
  display: table-cell;
  vertical-align: middle;
  padding: 26px 20px;
}

.biginfopane .text-block-title {
  font-size: 165%;
  line-height: 130%;
  padding-bottom:3px;
  font-weight:bold;
}

.biginfopane .text-block.text-bright {
  /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);*/
}
.biginfopane .text-block.text-dark {
  /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);*/
}
.biginfopane .text-block p {
  margin: 0;
}
.biginfopane .button-block {
  padding: 26px 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.biginfopane .button-block a {
  display: inline-block;
  background: #e8e8e8;
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= #ffffff , endColorstr= #e5e5e5 ,GradientType=0 );
  border: 1px solid #fff;
  color: #828282;
  text-decoration: none;
  padding: 0 1em;
  line-height: 40px;
  font-size: 130%;
  white-space: nowrap;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.8), 0 0 0 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.8), 0 0 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.8), 0 0 0 1px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.biginfopane .button-block a:hover {
  background: #f5f5f5;
  background: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ebebeb));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ebebeb 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #ebebeb 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #ebebeb 100%);
  background: linear-gradient(top, #ffffff 0%, #ebebeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= #ffffff , endColorstr= #ebebeb ,GradientType=0 );
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.8), 0 0 0 1px rgba(0, 0, 0, 0.3), 0 0 10px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.8), 0 0 0 1px rgba(0, 0, 0, 0.3), 0 0 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.8), 0 0 0 1px rgba(0, 0, 0, 0.3), 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

/****************************
* Table
****************************/
.custom-table.style-1, .custom-table-wrapper.style-1 table {
  border: 1px solid #ccc;
  border-collapse: separate;
  border-spacing: 2px;
  margin:16px 0;
}
.custom-table.style-1 td,
.custom-table-wrapper.style-1 table td,
.custom-table.style-1 th,
.custom-table-wrapper.style-1 table th {
  border: 0;
  margin: 0;
  padding: 0.6em 0.5em;
}
.custom-table.style-1 th, .custom-table-wrapper.style-1 table th {
  background: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  padding: 0.8em 0.5em;
  text-align: left;
}
.custom-table.style-1 td, .custom-table-wrapper.style-1 table td {
  background: #fafafa;
  background-color: rgba(0, 0, 0, 0.01);
}
.custom-table.style-1 tr:nth-child(even) td, .custom-table-wrapper.style-1 table tr:nth-child(even) td {
  background: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.03);
}

/* Style-2 */

.custom-table.style-2, .custom-table-wrapper.style-2 table {
  border-collapse: collapse;
  border-spacing: 0;
  margin:16px 0;
  border-top: 1px solid #131313;
}
.custom-table.style-2 td,
.custom-table-wrapper.style-2 table td,
.custom-table.style-2 th,
.custom-table-wrapper.style-2 table th {
  border: 0;
  margin: 0;
  padding: 0.6em 0.5em;
}
.custom-table.style-2 th, .custom-table-wrapper.style-2 table th {
  background: none;
  border-top: 2px solid #131313;
  border-bottom: 2px solid #131313;
  font-weight: bold;
  padding: 0.8em 0.5em;
  text-align: left;
}
.custom-table.style-2 td, .custom-table-wrapper.style-2 table td {
  background: none;
  border-bottom:1px solid #131313;
}

/* Style-3 */

.custom-table.style-3, .custom-table-wrapper.style-3 table {
  border-collapse: collapse;
  border-spacing: 0;
  margin:16px 0;
  border-top: 1px solid #131313;
}
.custom-table.style-3 td,
.custom-table-wrapper.style-3 table td,
.custom-table.style-3 th,
.custom-table-wrapper.style-3 table th {
  margin: 0;
  padding: 0.6em 0.5em;
  border:1px solid rgba(0,0,0,0.1);
}
.custom-table.style-3 th, .custom-table-wrapper.style-3 table th {
	color:#fff;
  font-weight: bold;
  border:1px solid rgba(255,255,255,0.3);
  border-bottom:1px solid #131313;
  padding: 0.5em 0.5em;
  text-align: left;
}
.custom-table.style-3 td, .custom-table-wrapper.style-3 table td {
  background: none;
  border-bottom:1px solid #131313;
}

/*********************************************************************
 * Contact Form
 *********************************************************************/
 
.contact-form
{
	margin:16px 0;
}

.contact-form .line
{
	font-size:90%;
	margin-bottom:12px;
}

.contact-form .line input[type=checkbox]
{
	vertical-align:middle;
	margin:0 0 3px 10px;
	border:1px solid #eee;
}

.contact-form .line input[type=text],
.contact-form .line textarea
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
}

#om-contact-form-captcha
{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	margin-bottom:10px;
}

.contact-form .error
{
	border-color:red;
	-webkit-box-shadow:0 0 6px 0 rgba(255,0,0,0.7);
	-moz-box-shadow:0 0 6px 0 rgba(255,0,0,0.7);
	box-shadow:0 0 6px 0 rgba(255,0,0,0.7);
}

.contact-form label.error
{
	background:red;
	color:#fff;
	font-size:11px;
	display:inline-block;
	padding:0 5px;
	margin:-3px 0 0 12px;
	opacity:0.6;
	vertical-align:middle;
}

.contact-form .checkbox-wrapper
{
	background:#f7f7f7;
	background-color:rgba(0,0,0,0.03);
	border:0px;
	padding:6px 10px;
	font-size:100%;
	display:inline-block;
	
	border:1px solid transparent;
	border-top-color:rgba(0,0,0,0.07);
}

.dark-panes-bg .contact-form .checkbox-wrapper
{
  background:#0f0f0f;
  background:rgba(255,255,255,0.1);
  border-top-color:rgba(255,255,255,0.2);
}

/****************************
* Latest Tweets
****************************/

.latest-tweets
{
	list-style:none;
	padding:0;
	margin:16px 0;
}

.latest-tweets li
{
	margin:0 0 10px 0 !important;
	background:none !important;
	padding:0 !important;
}

.latest-tweets .tweet-status
{
	display:inline;
}

.tweet-status:before
{
	content: "\f099";
	margin-right:7px; 
	font-family:'FontAwesome';
	font-size:100%; 
}

.latest-tweets .tweet-status a
{
}

.latest-tweets .tweet-time
{
	font-size:85%;
	font-style:italic;
}

.twitter-follow
{
	text-align:right;
}

.twitter-follow a,
.twitter-follow a:hover
{
	text-decoration:none;
}

.twitter-follow a:hover span
{
	text-decoration:underline;
}


.icon-twitter:before
{
	content: "\f099";
	margin-right:7px;
	font-size:100%;
	font-family:'FontAwesome';
}

/****************************
* Flickr
****************************/

.flickr_badge_wrapper
{
	margin:16px -12px 16px 0;
}

.flickr_badge_wrapper .flickr_badge_image
{
	float:left;
	margin:0 12px 12px 0;
}

.flickr_badge_image img
{
	display:block;
}

.flickr_badge_image a
{
	display:block;
	position:relative;
}

/*.flickr_badge_image a .after
{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(255,255,255,0.7) url(img/link-big.png) no-repeat center center;
	visibility:hidden;
	opacity:0;
	border:3px solid rgba(0,0,0,0.15);
	
	-webkit-transition:opacity 0.3s;
	-moz-transition:opacity 0.3s;
	transition:opacity 0.3s;

}
*/
.flickr_badge_image a:hover .after
{
	visibility:visible;
	opacity:1;
}

/****************************
* Portfolio Widget
****************************/

.portfolio-small-preview
{
	margin:16px 0 32px 0;
}

.portfolio-small-preview:last-child
{
	margin-bottom:16px;
}

.portfolio-small-preview .pic
{
	margin-bottom:8px;
}

.portfolio-small-preview .pic a
{
	position:relative;
	display:block;
}

.portfolio-small-preview .pic a .before
{
	display:none;
}

.no-touch .portfolio-small-preview .pic a .before
{
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	color:#fff;
	border:6px solid rgba(255,255,255,0);
	
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	transition:0.3s;
}

.no-touch .portfolio-small-preview .pic a .before:hover
{
	border-color:rgba(255,255,255,0.3);
}

.portfolio-small-preview .pic a img
{
	display:block;
}

.portfolio-small-preview .title
{
	font-size:130%;
	line-height:125%;
	font-weight:bold;
}

.portfolio-small-preview .tags a
{
	color:inherit;
}

/* Portfolio Shortcode */

.portfolio-shortcode
{
	margin-top:8px;
	margin-bottom:8px;
}

.portfolio-shortcode .portfolio-thumb
{
	background:rgba(0,0,0,0.03);
	-webkit-box-shadow:inset 0 0 0 1px rgba(0, 0, 0, 0.07);
	-moz-box-shadow:inset 0 0 0 1px rgba(0, 0, 0, 0.07);
	box-shadow:inset 0 0 0 1px rgba(0, 0, 0, 0.07);
}

/****************************
* Facebook Like box
****************************/

.fb-like-box,
.fb-like-box span,
.fb-like-box iframe
{
	width:100% !important;
}

/****************************
* Logos
****************************/

.logos
{
	margin:16px 0;
	text-align:center;
}

.logos .item 
{
	display:inline-block;
	padding:20px 40px;
	text-align:center;
}

.logos .item img
{
	-webkit-transition:opacity 0.3s;
	-moz-transition:opacity 0.3s;
	transition:opacity 0.3s;
}

.logos .item a:hover img
{
	opacity:0.7;
}

.logos .item img
{
	display:inline-block;
	vertical-align:middle;
}

/****************************
* Testimonials
****************************/

.testimonials-block
{
	background:rgba(0,0,0,0.03);
	margin-top:16px;
	margin-bottom:32px;
	position:relative;
}

.dark-panes-bg .testimonials-block
{
	background-color:rgba(255,255,255,0.1);
}

.testimonials-block:after
{
	content:'';
	position:absolute;
	left:75%;
	bottom:-26px;
	border:13px solid transparent;
	border-left-color:#000;
	border-top-color:#000;
	opacity:0.03;
}

.dark-panes-bg .testimonials-block:after
{
	border-left-color:#fff;
	border-top-color:#fff;
	opacity:0.1;
}

.testimonials-block .item-inner
{
	display:table;
	width:100%;
	border-spacing:0;
}

.testimonials-block .item
{
	position:relative;
	display:none;
}

.testimonials-block .item:first-child
{
	display:block;
}

.testimonials-block .item .name-qo,
.testimonials-block .item .pic,
.testimonials-block .item .text
{
	display:table-cell;
	vertical-align:top;
	float:none;
}

.testimonials-block .item .name-qo
{
	margin:0;
}

.testimonials-block .item .name-qo-inner
{
	display:table;
	width:100%;
}

.testimonials-block .item .name
{
	display:table-cell;
	vertical-align:top;
}

.testimonials-block .item .name-name
{
	font-size:130%;
	line-height:125%;
}

.testimonials-block .item .name-name a
{
	color:inherit;
}

.testimonials-block .item .name-desc
{
	margin-top:3px;
	font-style:italic;
}

.testimonials-block .item .qo
{
	display:table-cell;
	vertical-align:top;
	text-align:right;
	font-size:500%;
	line-height:90%;
	padding-left:12px;
	margin-bottom:-30px;
}
	
.testimonials-block .item .qo:before
{
	content:'\201C';
}

.testimonials-block .item .pic img
{
	display:block;
}

.content-with-sidebar .testimonials-block .item .pic .move-left,
.content-without-sidebar .testimonials-block .item .pic .move-left
{

	left:0;
}

.testimonials-block .item .text
{
	font-style:italic;
	font-size:110%;
}

.content-with-sidebar .testimonials-block .item.no-pic .text .block-inner,
.content-without-sidebar .testimonials-block .item.no-pic .text .block-inner
{
	padding-left:0;
}

.testimonials-block .controls
{
	position:absolute;
	left:10px;
	bottom:10px;
	z-index:10;
}

.testimonials-block .controls a
{
	display:inline-block;
	color:#fff;
	width:24px;
	text-align:center;
	height:24px;
	line-height:24px;
	text-decoration:none;
	margin-right:6px;
	opacity:0.5;
	
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	transition:0.3s;
}

.testimonials-block .controls a:hover
{
	opacity:1;
}

.testimonials-block.multi-items .name-qo .block-inner
{
	padding-bottom:40px;
}

/* No scroll - full list vestion */

.testimonials-block.no-scroll
{
	background:none;
}

.testimonials-block.no-scroll:after
{
	display:none;
}

.testimonials-block.no-scroll .item
{
	display:block;
	margin-bottom:60px;
	background:rgba(0,0,0,0.03);
	position:relative;
}

.dark-panes-bg .testimonials-block.no-scroll .item
{
	background-color:rgba(255,255,255,0.1);
}

.testimonials-block.no-scroll .item:after
{
	content:'';
	position:absolute;
	left:75%;
	bottom:-26px;
	border:13px solid transparent;
	border-left-color:#000;
	border-top-color:#000;
	opacity:0.03;
}

.dark-panes-bg .testimonials-block.no-scroll .item:after
{
	border-left-color:#fff;
	border-top-color:#fff;
	opacity:0.1;
}

/* Mod For Widget */

.widgets-area .testimonials-block
{
	background:none;
	margin-bottom:16px;
}

.widgets-area .testimonials-block:after
{
	display:none;
}

.widgets-area .testimonials-block .item-inner,
.widgets-area .testimonials-block .item .name-qo,
.widgets-area .testimonials-block .item .pic,
.widgets-area .testimonials-block .item .text,
.widgets-area .testimonials-block .item .name-qo-inner,
.widgets-area .testimonials-block .item .name,
.widgets-area .testimonials-block .item .qo
	{
		display:block;
		width:auto;
	}
	
.widgets-area .testimonials-block .item .qo
	{
		text-align:left;
		padding:0;
		position:relative;
		top:6px;
	}
	
.widgets-area .testimonials-block .item .pic
	{
		position:absolute;
		top:0;
		right:0;
		width:72px;
		height:72px;
	}
	
.widgets-area .testimonials-block .item.with-pic .name-qo
	{
		min-height:72px;
		padding-right:84px;
	}
	
.widgets-area .testimonials-block.multi-items .name-qo .block-inner
	{
		padding-bottom:12px;
	}
	
.widgets-area .testimonials-block.multi-items .text
	{
		padding-bottom:34px;
	}

.widgets-area .testimonials-block .item .name-qo .block-inner
{
	padding-top:0;
}

/****************************
* Pricing table
****************************/

.pricing-table-wrapper
{
	margin: 16px 0;
	text-align:center;
}
.pricing-table
{
	display:inline-block;
}

.pricing-column
{
	list-style:none;
	margin:0 1px 0 0;
	padding:0;
	float:left;
	position:relative;
	
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	transition:0.3s;
}

.pricing-column:hover
{
	-webkit-box-shadow:0 0 20px 0 rgba(0,0,0,0.4);
	-moz-box-shadow:0 0 20px 0 rgba(0,0,0,0.4);
	box-shadow:0 0 20px 0 rgba(0,0,0,0.4);
	z-index:1;
}

.pricing-column li
{
	white-space:nowrap;
	text-align:center;
	padding:12px;
	background:rgba(0,0,0,0.01);
	border-bottom:1px dotted rgba(0,0,0,0.1);
}

.pricing-column li:nth-child(even)
{
	background:#f5f5f5;
	background:rgba(0,0,0,0.03);
}

.pricing-column li.pricing-title
{
	font-weight:bold;
	font-size:110%;
	border-top-width:3px;
	border-top-style:solid;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.04)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
  background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
}

.pricing-column li.pricing-price
{
	color:#fff;
	font-size:200%;
	line-height:120%;
}

.pricing-column .price-comment
{
	font-size:45%;
	line-height:120%;
}

.pricing-column .pricing-button .button
{
	margin:0 !important;
}

/****************************
* Sitemap
****************************/

.sitemap ul
{
	list-style:none;
	padding:0;
	margin:16px 0;
}

.sitemap ul li
{
	background:url(img/li.png) no-repeat left 2px;
	padding-left:18px;
	margin-bottom:6px;
}

/****************************
* WP
****************************/
.wp-caption {
  margin-top: 20px;
  margin-bottom: 20px;
}
.wp-caption-text {
  margin: 5px 0;
  font-style: italic;
}
.wp-caption.aligncenter .wp-caption-text {
  text-align: center;
}
.gallery-caption {
  font-style: italic;
}
.sticky { }
.bypostauthor { }

.alignleft {
  float: left;
  margin: 0 16px 16px 0;
}
.alignright {
  float: right;
  margin: 0 0 16px 16px;
}
.aligncenter {
  display: block;
  margin: 16px auto;
}

/****************************
* Contact Form 7 Styling
****************************/

.wpcf7 input[type=text],
.wpcf7 input[type=password],
.wpcf7 input[type=files],
.wpcf7 textarea
{
	max-width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.wpcf7 select
{
	height:2em;
	margin:0;
}

.wpcf7 select[multiple]
{
	height:auto;
}

.wpcf7 div.wpcf7-validation-errors,
.wpcf7 div.wpcf7-mail-sent-ng
{
  background: #f34b3f;
  background: -moz-linear-gradient(top, #f4564b 0%, #f24033 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4564b), color-stop(100%, #f24033));
  background: -webkit-linear-gradient(top, #f4564b 0%, #f24033 100%);
  background: -o-linear-gradient(top, #f4564b 0%, #f24033 100%);
  background: -ms-linear-gradient(top, #f4564b 0%, #f24033 100%);
  background: linear-gradient(top, #f4564b 0%, #f24033 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= #f35449 , endColorstr= #f23e31 ,GradientType=0 );
  border: 1px solid #f24033;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  color: #fff;
  padding:12px 10px;
  margin:11px 0;
}

.wpcf7 div.wpcf7-mail-sent-ok
{
  background: #c5f4a9;
  background: -moz-linear-gradient(top, #ccf5b4 0%, #bdf29e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccf5b4), color-stop(100%, #bdf29e));
  background: -webkit-linear-gradient(top, #ccf5b4 0%, #bdf29e 100%);
  background: -o-linear-gradient(top, #ccf5b4 0%, #bdf29e 100%);
  background: -ms-linear-gradient(top, #ccf5b4 0%, #bdf29e 100%);
  background: linear-gradient(top, #ccf5b4 0%, #bdf29e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= #cbf5b3 , endColorstr= #bcf29c ,GradientType=0 );
  border: 1px solid #bdf29e;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  color: #0d590d;
  padding:12px 10px;
  margin:11px 0;
}

.wpcf7 div.wpcf7-spam-blocked
{
  background: #f4e6a2;
  background: -moz-linear-gradient(top, #f6e9ae 0%, #f3e397 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6e9ae), color-stop(100%, #f3e397));
  background: -webkit-linear-gradient(top, #f6e9ae 0%, #f3e397 100%);
  background: -o-linear-gradient(top, #f6e9ae 0%, #f3e397 100%);
  background: -ms-linear-gradient(top, #f6e9ae 0%, #f3e397 100%);
  background: linear-gradient(top, #f6e9ae 0%, #f3e397 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= #f5e9ad , endColorstr= #f3e396 ,GradientType=0 );

  border: 1px solid #f3e397;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  color: #5b4d13;
  padding:12px 10px;
  margin:11px 0;
}


.wpcf7 span.wpcf7-not-valid-tip
{
	position:static;
	display:block;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
	
	border:0;
	color:red;
	text-shadow:0 1px 0 rgba(255,255,255,0.4);
	font-size:85%;
	line-height:16px;
	height:16px;
	margin:0 0 -8px 0;
	padding:0 0;
}

.wpcf7 .wpcf7-not-valid[type=text],
.wpcf7 .wpcf7-not-valid[type=password],
.wpcf7 .wpcf7-not-valid[type=textarea]
{
	border:1px solid red;
}

/**
 * Facebook comments
 */
 
.fb-comments,
.fb-comments > span,
.fb-comments iframe
{
	width:100% !important;
}

/**
 * WP Calendar
 */

#wp-calendar
{
	width:100%;
	border-collapse:separate;
	border-spacing:1px;
}

#wp-calendar tbody td
{
	text-align:center;
	padding:0.4em 0.2em;
}

#wp-calendar th
{
	background:rgba(0,0,0,0.03);
	padding:0.4em 0;
}


#wp-calendar caption
{
	padding-bottom:0.6em;
	font-weight:bold;
	font-size:110%;
}

#wp-calendar #prev
{
	text-align:left;
}

#wp-calendar #next
{
	text-align:right;
}.yieldsquare-enabled{
	display:none !important}
	
.akce-place{
		padding-left: 30px;
 background: url('/wp-content/uploads/2013/04//place.png') no-repeat left;
 
 line-height:2;
		}
		.akce-date{
		padding-left: 32px;
 background: url('/wp-content/uploads/2013/04/date.png') no-repeat left;
  line-height:2;
		}
		.akce-nazev{
			font-weight:bold;
		
		}
		.akce-link{
		padding-right: 32px;
 background: url('/wp-content/uploads/2013/04/top_window.png') no-repeat right;
		}
		.akce-table td{
			border-bottom:1px solid #e5e5e5;}